.createHike-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
    .formCreateHike{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-rows: 70px 70px 80px 80px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 350px;
        @media screen and (max-width: 1230px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            height: 520px;
        }
        @media screen and (max-width: 830px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            height: 1200px;
        }
        .formCreateHike--name{
            display: flex;
            flex-direction: column;
            grid-area: 1 / 1 / 2 / 2;
            max-height: 100px;
            .formCreateHike--label{
                font-size: 1.5rem;
                color: $greyDarkColor;
                text-align: left;
            }
            .formCreateHike--input{
                width: 400px;
                height: 40px;
                border: 1px solid $greyDarkColor;
                padding: 10px;
                background-color: #f7f7f7;
                font-size: 1rem;
                color: $greyDarkColor;
                text-align: left;
                &:focus{
                    outline: none;
                    border: 1px solid $blueColor;
                }
            }
        }
        .formCreateHike--distance{
            display: flex;
            flex-direction: column;
            grid-area: 1 / 2 / 2 / 3;
            @media screen and (max-width: 830px) {
                grid-area: 2 / 1 / 3 / 2;
            }
            .formCreateHike--label{
                font-size: 1.5rem;
                color: $greyDarkColor;
                text-align: left;
            }
            .formCreateHike--input{
                width: 400px;
                height: 40px;
                border: 1px solid $greyDarkColor;
                padding: 10px;
                background-color: #f7f7f7;
                font-size: 1rem;
                color: $greyDarkColor;
                text-align: left;
                &:focus{
                    outline: none;
                    border: 1px solid $blueColor;
                }
            }
        }
        .formCreateHike--duration{
            display: flex;
            flex-direction: column;
            grid-area: 2 / 1 / 3 / 2;
            @media screen and (max-width: 830px) {
                grid-area: 3 / 1 / 4 / 2;
            }
            .formCreateHike--label{
                font-size: 1.5rem;
                color: $greyDarkColor;
                text-align: left;
            }
            .formCreateHike--input{
                width: 400px;
                height: 40px;
                border: 1px solid $greyDarkColor;
                padding: 10px;
                background-color: #f7f7f7;
                font-size: 1rem;
                color: $greyDarkColor;
                text-align: left;
                &:focus{
                    outline: none;
                    border: 1px solid $blueColor;
                }
            }
        }
        .formCreateHike--elevation{
            display: flex;
            flex-direction: column;
            grid-area: 2 / 2 / 3 / 3;
            @media screen and (max-width: 830px) {
                grid-area: 4 / 1 / 5 / 2;
            }
            .formCreateHike--label{
                font-size: 1.5rem;
                color: $greyDarkColor;
                text-align: left;
            }
            .formCreateHike--input{
                width: 400px;
                height: 40px;
                border: 1px solid $greyDarkColor;
                padding: 10px;
                background-color: #f7f7f7;
                font-size: 1rem;
                color: $greyDarkColor;
                text-align: left;
                &:focus{
                    outline: none;
                    border: 1px solid $blueColor;
                }
            }
        }
        .formCreateHike--description{
            display: flex;
            flex-direction: column;
            grid-area: 3 / 1 / 5 / 2;
            @media screen and (max-width: 830px) {
                grid-area: 5 / 1 / 6 / 2;
            }
            .formCreateHike--label{
                font-size: 1.5rem;
                color: $greyDarkColor;
                text-align: left;
            }
            .formCreateHike--input{
                width: 400px;
                height: 300px;
                border: 1px solid $greyDarkColor;
                padding: 10px;
                background-color: #f7f7f7;
                font-size: 1rem;
                color: $greyDarkColor;
                text-align: left;
                resize: none;
                &:focus{
                    outline: none;
                    border: 1px solid $blueColor;
                }
            }
        }
        .formCreateHike--tagsContainer{
            display: flex;
            align-items: center;
            gap: 50px;
            grid-area: 1 / 3 / 4 / 4;
            @media screen and (max-width: 1230px) {
                grid-area: 5 / 1 / 6 / 2;
                justify-content: center;
            }
            @media screen and (max-width: 830px) {
                grid-area: 7 / 1 / 8 / 2;
            }
            .formCreateHike--tags{
                display: flex;
                flex-direction: column;
                gap: 11px;
                .input-container{
                    display: flex;
                    align-items: center;
                    .formCreateHike--label{
                        font-size: 1rem;
                        color: $greyDarkColor;
                        text-align: left;
                        width: 100px;
                    }
                    .formCreateHike--input{
                        width: 20px;
                        height: 20px;
                        border: 1px solid $greyDarkColor;
                        padding: 5px;
                        background-color: #f7f7f7;
                        font-size: 1rem;
                        color: $greyDarkColor;
                        text-align: left;
                    }
                }
            }
            .formCreateHike--typeTags{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .formCreateHike--label{
                    font-size: 1rem;
                    color: $greyDarkColor;
                    text-align: left;
                    width: 100px;
                    margin-right: 50px;
                }
                .formCreateHike--input{
                    width: 20px;
                    height: 20px;
                    border: 1px solid $greyDarkColor;
                    padding: 5px;
                    background-color: #f7f7f7;
                    font-size: 1rem;
                    color: $greyDarkColor;
                    text-align: left;
                    
                }
                .input-container{
                        display: flex;
                        align-items: center;
                    }
            }
        }
        .formCreateHike--image{
            grid-area: 3 / 2 / 5 / 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: 830px) {
                grid-area: 6 / 1 / 7 / 2;
            }
            .formCreateHike--label{
                font-size: 1.5rem;
                color: $greyDarkColor;
                text-align: left;
            }
            .formCreateHike--input{
                width: 400px;
                height: 40px;
                border: 1px solid $greyDarkColor;
                padding: 10px;
                background-color: #f7f7f7;
                font-size: 1rem;
                color: $greyDarkColor;
                text-align: left;
                &:focus{
                    outline: none;
                    border: 1px solid $blueColor;
                }
            }
        }
        .formCreateHike--subBtn{
            grid-area: 4 / 3 / 5 / 4;
            cursor: pointer;
            list-style-type: none;
            border: 1px solid $blueColor;
            text-align: center;
            padding: 10px 15px;
            min-width: 218px;
            position: relative;
            z-index: 1000;
            margin-top: 38px;
            margin-left: 60px;
            transition: all 0.1s ease-in-out;
            @media screen and (max-width: 1230px) {
                grid-area: 5 / 2 / 6 / 3;
                margin: 50px;
            }
            @media screen and (max-width: 830px) {
                grid-area: 8 / 1 / 9 / 2;
            }
            &:hover {
                transform: translate(-3px, -6px);
                box-shadow: $greyColor 10px 10px 0px -1px, $blueColor 10px 10px;
            }
        }
    }
}
