@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium web";
}

body {
  margin: 0 auto;
  background: rgba(211, 211, 211, 0.301);
  overflow-x: hidden;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}
header section span {
  width: 100vw;
  border: 2px solid rgb(36, 179, 184);
}
header section img {
  height: 220px;
}
header section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.4rem;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
header section nav ul li {
  list-style-type: none;
  border: 1px solid rgb(36, 179, 184);
  text-align: center;
  padding: 10px 15px;
  min-width: 218px;
  position: relative;
  z-index: 1000;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
header section nav ul li:hover {
  -webkit-transform: translate(-3px, -6px);
          transform: translate(-3px, -6px);
  -webkit-box-shadow: #F1F1F1 10px 10px 0px -1px, rgb(36, 179, 184) 10px 10px;
          box-shadow: #F1F1F1 10px 10px 0px -1px, rgb(36, 179, 184) 10px 10px;
}
header section nav ul li a {
  z-index: 1001;
  text-decoration: none;
  color: rgb(36, 179, 184);
}
header section nav ul li a:visited {
  color: rgb(36, 179, 184);
}

.tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.tag-container .navTag {
  background: #F1F1F1;
  color: rgb(91, 91, 91);
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.tag-container .navTag a,
.tag-container .navTag a:visited a:link {
  color: rgb(91, 91, 91);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.tag-container .navTag a:hover,
.tag-container .navTag a:visited a:link:hover {
  font-weight: 600;
}
.tag-container .navTag a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(36, 179, 184);
  bottom: -2px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  content: "";
}
.tag-container .navTag a:hover::after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 50px;
}
.card-container .hikeCard {
  background: #F1F1F1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.card-container .hikeCard:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.card-container .hikeCard .hikeCard-img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.card-container .hikeCard .hikeCard-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(91, 91, 91);
  text-align: center;
}
.card-container .hikeCard .hikeCard-description {
  font-size: 1rem;
  color: rgb(91, 91, 91);
  text-align: center;
}
.card-container .hikeCard .hikeCard-btn {
  background: #F1F1F1;
  color: rgb(91, 91, 91);
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(91, 91, 91);
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.card-container .hikeCard .hikeCard-btn:hover {
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
  -webkit-box-shadow: #F1F1F1 5px 5px 0px -0.5px, rgb(36, 179, 184) 5px 5px;
          box-shadow: #F1F1F1 5px 5px 0px -0.5px, rgb(36, 179, 184) 5px 5px;
  border: 1px solid rgb(36, 179, 184);
}
.card-container .hikeCard .hikeCard-btn a {
  text-decoration: none;
  color: rgb(36, 179, 184);
}
.card-container .hikeCard .hikeCard-btn a:visited {
  color: rgb(36, 179, 184);
}

.container {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .img-container {
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow: hidden;
  border: 1px solid rgb(36, 179, 184);
}
.container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .hike {
  width: 100%;
  height: auto;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.container .hike .description {
  font-size: 1rem;
  color: #000;
  text-align: left;
}
.container .hike .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.createHike-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.createHike-container .formCreateHike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 30px;
}
.createHike-container .formCreateHike .formCreateHike--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.createHike-container .formCreateHike .formCreateHike--name .formCreateHike--label {
  font-size: 2rem;
  color: rgb(91, 91, 91);
  text-align: left;
}
.createHike-container .formCreateHike .formCreateHike--name .formCreateHike--input {
  width: 500px;
  height: 50px;
  border: 1px solid rgb(91, 91, 91);
  padding: 10px;
  background-color: #f7f7f7;
  font-size: 1rem;
  color: rgb(91, 91, 91);
  text-align: left;
}
.createHike-container .formCreateHike .formCreateHike--distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.createHike-container .formCreateHike .formCreateHike--distance .formCreateHike--label {
  font-size: 2rem;
  color: rgb(91, 91, 91);
  text-align: left;
}
.createHike-container .formCreateHike .formCreateHike--distance .formCreateHike--input {
  width: 100%;
  height: 25px;
  border: 1px solid rgb(255, 0, 0);
  padding: 10px;
  font-size: 1rem;
  color: rgb(91, 91, 91);
  text-align: left;
}
.createHike-container .formCreateHike .formCreateHike--duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.createHike-container .formCreateHike .formCreateHike--duration .formCreateHike--label {
  font-size: 2rem;
  color: rgb(91, 91, 91);
  text-align: left;
}
.createHike-container .formCreateHike .formCreateHike--duration .formCreateHike--input {
  width: 100%;
  height: 25px;
  border: 1px solid rgb(255, 0, 0);
  padding: 10px;
  font-size: 1rem;
  color: rgb(91, 91, 91);
  text-align: left;
}
.createHike-container .formCreateHike .formCreateHike--elevation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.createHike-container .formCreateHike .formCreateHike--elevation .formCreateHike--label {
  font-size: 2rem;
  color: rgb(91, 91, 91);
  text-align: left;
}
.createHike-container .formCreateHike .formCreateHike--elevation .formCreateHike--input {
  width: 100%;
  height: 25px;
  border: 1px solid rgb(255, 0, 0);
  padding: 10px;
  font-size: 1rem;
  color: rgb(91, 91, 91);
  text-align: left;
}/*# sourceMappingURL=style.css.map */